<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32100">
        <setting id="addic7ed" label="32110" type="bool" default="false" />
        <setting id="legendastv" label="32120" type="bool" default="false" />
        <setting id="opensubtitles" label="32130" type="bool" default="false" />
        <setting id="podnapisi" label="32140" type="bool" default="false" />
        <setting id="subscenter" label="32150" type="bool" default="false" />
        <setting id="thesubdb" label="32160" type="bool" default="false" />
        <setting id="tvsubtitles" label="32170" type="bool" default="false" />
    </category>
    <category label="32110">
        <setting id="addic7ed.username" label="32001" type="text" default="" />
        <setting id="addic7ed.password" label="32002" type="text" option="hidden" default="" />
    </category>
    <category label="32120">
        <setting id="legendastv.username" label="32001" type="text" default="" />
        <setting id="legendastv.password" label="32002" type="text" option="hidden" default="" />
    </category>
    <category label="32130">
        <setting id="opensubtitles.username" label="32001" type="text" default="" />
        <setting id="opensubtitles.password" label="32002" type="text" option="hidden" default="" />
    </category>
    <category label="32150">
        <setting id="subscenter.username" label="32001" type="text" default="" />
        <setting id="subscenter.password" label="32002" type="text" option="hidden" default="" />
    </category>
    <category label="32200">
        <setting id="subliminal.hearing_impaired" label="32201" type="bool" default="false" />
        <setting id="subliminal.encoding" label="32202" type="text" />
        <setting id="subliminal.single" label="32203" type="bool" default="false" />
        <setting id="subliminal.max_workers" label="32204" type="slider" subsetting="true" default="1" range="1,1,7" option="int" />
        <setting id="subliminal.debug" label="32205" type="bool" default="false" />
        <setting id="subliminal.post_processing_script" label="32206" type="text" default="" />
    </category>
</settings>
